.profilePageContainer {
  display: grid;
  grid-template-columns: 1.7fr 8.3fr;
  background-color: #ffffff;
  font-size: 1.5rem;
  color: #333;
}
.asideProfile,
.prifleCont {
  min-height: 100vh;
}
.asideProfile {
  background-color: #fafaff;
}

.prifleCont {
  background-color: #ffffff;
}

.profileAsideCont {
  width: 17%;
  background-color: #fafaff;
  padding: 4.4rem 1.2rem 1.2rem 2.8rem;
  position: fixed;
}

.profileSliderPage {
  padding: 4.4rem 4.4rem 1.2rem 2.8rem;
}

.profileSideTop {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 3.4rem;
}

.profileAsidePrimary ul,
.profileCompLink ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.profileLinks {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.profileAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.accountImg {
  width: 58%;
  overflow: hidden;
  background-color: rgba(0, 0, 255, 0.404);
  border-radius: 100%;
  border-radius: 10px solid #000;
  padding: 0;
}

.accountImg img {
  width: 100%;
  transform: scale(1.1);
}
.profileCompLink {
  margin-top: 3.4rem;
}
.profileCompLink p {
  margin-top: 3.4rem;
  margin-bottom: 1.4rem;
}

.active:link,
.active:visited {
  color: red;
}

.profileNav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  gap: 1.2rem;
}
#profileNav {
  background-color: transparent;
}

.prRighNav {
  gap: 2.4rem;
}

.profileInfo:link,
.profileInfo:visited {
  gap: 1.2rem;
  color: #666;
}
.dpIconImg {
  max-width: 3.4rem;
  max-height: 3.4rem;
  border-radius: 100%;
  overflow: hidden;
}

.dpIconImg img {
  width: 100%;
}

.profileBalance {
  padding: 3.4rem 1.2rem;
}
.profileBlist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid #ddd;
}

.profileHead {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-left: 1px solid #ddd;
  padding-left: 3.4rem;
}

.profileHead h3 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 3.4rem;
}

.profileHead p {
  color: #b3b3b3;
}
