.sectionBusiness {
  font-size: 1.5rem;
}

.businessPagaContainer {
  display: grid;
  grid-template-columns: 1.7fr 8.3fr;
  background-color: #fff;
}
.bizNav {
  width: 23rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  padding: 1.4rem 2.4rem;

  /* padding: 4.5rem 2rem; */
  position: fixed;
}
.bizContent {
  background-color: #fafaff;
}

.asideheader {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-align: center;
}

.sideNavItemBiz:link,
.sideNavItemBiz:visited {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 2.2rem;
}

.bizLogo img {
  width: 60%;
  margin-bottom: 2.4rem;
}

.bizBtn {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.4rem;
  background-color: #5cebdf;
  color: #fff;
  border-radius: 0.8rem;
  text-align: center;
}

.bizAsideLink {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 4rem 0;
}

.bizAsideButtom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bizAsideButtom .sideNavItemBiz:link,
.bizAsideButtom .sideNavItemBiz:visited {
  padding: 0.8rem;
}

.businessPagaContainer Link {
  color: #ddd;
}

.bizAsideButtom h6 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #666;
}

.bizHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 2.4rem;
  border-bottom: 1px solid #eee;
}

.headerBiz {
  gap: 1.2rem;
}
.headerBiz span {
  font-size: 3.4rem;
  font-weight: 300;
}

.bizHeadItems {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-right: 2.4rem;
  list-style: none;
}

.bizSearchCont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4rem;
  padding: 1.4rem 2.4rem;
}

.bizSearchInp {
  width: 54%;
  display: flex;
  align-items: center;
  border-radius: 22rem;
  background-color: #eee;
  padding: 0.1rem 1.5rem;
  color: #666;
  transition: all .5s;
}

.bizSearchInp:hover,
.bizSearchInp:active {
  box-shadow: 0 0 8px -4px rgb(0 0 0 / 30%);
}

.bizSearchInp:focus-within {
  width: 85%;
}
.bizSearch {
  width: 40rem;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
input[type="search"] {
  padding: 0.4rem 1.5rem;
  border: none;
  background-color: transparent;
}

.bizSearch h5 {
  font-size: 1.6rem;
}
.bizNote {
  display: inline-block;
  background-color: #cef9f5;
  color: #255e59;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 0.6rem 1.4rem;
}
.sideNavItemBiz:link,
.sideNavItemBiz:visited {
  color: #999;
}

.sideNavItemBiz.active:link,
.sideNavItemBiz.active:visited {
  background-color: transparent;
  color: #2f63b2;
  border-radius: 0.5rem;
  padding: 0.8rem 2.2rem;
}
/* ____________________________________
Biz Cards Dec Bloxk
_____________________________________ */
.bizCardSlider.golf {
  grid-gap: 2.3rem;
}

.bizCardSlider {
  padding: 3.4rem;
}

.bizCard {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  background-color: #fff;
  border-radius: 1rem;
  color: #666;
  padding: 2.4rem;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
}

.bizCardLogo img {
  width: 5.5rem;
}

.bizCardName {
  font-size: 2rem;
  font-weight: 600;
}

.bizCardbuttom {
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.2rem;
}

.bizCardbuttom span {
  font-size: 3.4rem;
  font-weight: 200;
  margin-bottom: 1.2rem;
}
.bizBtnSub:link,
.bizBtnSub:visited {
  /* border: 1px solid #ddd; */
  background-color: #2961c4;
  border-radius: 222rem;
  padding: 1.2rem 3rem;
  transition: all .3s;
}

.bizBtnSub:hover, 
.bizBtnSub:active {
  background-color: #5481d0;
  transform: scale(0.95);
}
/* transaction decoration block */

.sectionTransactionpage {
  font-size: 1.5rem;
}

/* Generating page decoration block */

.sectionGeneration {
  font-size: 1.5rem;
}
/* Pricing page decoration block */

.sectionPricingPage {
  font-size: 1.5rem;
}

/* Transaction Cont Decoration Block */

.transCont {
  gap: 4rem;
  padding: 3.4rem 4rem;
}
.transLink:link,
.transLink:visited {
  transition: all .3s;
  color: #7d7d80;
}



.transCardCont,
.transCardCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  padding: 1rem;
  padding-right: 2rem;
  border-radius: 0.4rem;
  border: 1px solid #e1e1e6;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all .2s;
}

.transCardCont:hover,
.transCardCont:active {
  border: 1px solid transparent;
  box-shadow: 2px 7px 20px -6px rgba(0, 0, 0, 0.3);
}

#transCardLogo {
  width: 7rem;
  height: 7rem;
  border-radius: 44rem;
  padding: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.dataGrad {
  background: linear-gradient(to right bottom, #e86146, #f7c30b);
  
}

.transCardDisc {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.transCardDisc p {
  font-size: 1.5rem;
  color: #999;
}
/*  DataSubscription DecBlock */
.sectionAirtimeSubs, .sectionDataSubs, .nepaBillConts,.TvCableSubs, .airtimeConvertsCont   {
  max-width: 65rem;
  margin: 4rem auto;
  padding: 4.2rem 6.5rem;
  /* border: 1px solid #ddd; */
  border-radius: .6rem;
  background-color: #fff;
  ;
}


.transForm{
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  color: #666;
}


.transForm  label {
  display: block;
}


.priceDisp {
  font-size: 1.5rem;
  display: flex; 
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 4rem;
  text-align: center;
}

.priceDisp img {
  max-width: 7rem;
}
.priceDisp h5 {
  font-size: 3.4rem;
  font-weight: 200;
}

.transForm input,
.transForm select{
  width: 100%;
  background-color: #fafaff;
  box-shadow: inset 0 0 0 1px #ddd;
  padding:2.1rem 1.7rem;
  border: none;
  font-size: 1.4rem;
  margin-top: .8rem;
  color: #666;
  transition: .5s;
}

.transForm input:hover,
.transForm select:hover,
.transForm input:active,
.transForm select:active{
  /* border-radius: 55rem; */
  box-shadow:  0 0 1rem -2px #ddd;
}

.transForm input:focus-within,
.transForm select:focus-within {
  box-shadow: inset 0 0 0 1px #94b0e2;
}



.sectionAirtimeSubs input,
.sectionAirtimeSubs select {
  background-color: transparent;
}



.transForm button {
  width: 35%;
  border: none;
  background-image: linear-gradient(#2961c4, #214e9d);
  /* background-color: #2961c4; */
  color: #ffffff;
  padding: 1.4rem 1.2rem;
  border-radius: .8rem;
  margin-top: 1.1rem;
  transition: all .3s;
}

.transForm button:hover,
.transForm button:active {
  background-color: #5481d0;
}
.convertForm button {
  width: 100%;
}
/*  NEPA BILL PAYMENT DECORATION BLOCK */
.nepaBillConts h5 {
  font-size: 1.8rem;
}

/*  AIRTIME TO CASH DECORATION BLOCK */

.convertHeading{
  display: flex;
  justify-content: space-between; 
  margin-bottom: 2.4rem;
}



.tvPage,
.airtimPage,
.nepaPage,
.convtPage,
.bulkssPage,
.dataPage {
  display: none;
}


/* PriceConvertAirtime to Cash */
.bizDisp {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  padding: 2.4rem;

}
.priceConvertCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin: 2.4rem; */
  grid-gap: 1.2rem;
}


.convertCard {
display: flex;
flex-direction: column;
gap: .8rem;
  background-color: #ffffff;
  padding: 1.8rem 1.2rem;
  box-shadow: 3px 3px 14px -7px rgb(0 0 0 / 30%);
}

.secondRow {
  display: flex;
  gap: 3.4rem;
}
.convertCard .flex {
  gap: 1.2rem;
}
.percent {
  font-size: 2.8rem;
  font-weight: 200;
  color: #2961c4;
}

.convertCard h5 {
  color: #666;
}
.convertCard span {
  color: #000;
}

.percentBarCont {
  background-color: #e7e4f0;
  border-radius: 33rem;
  overflow: hidden;
  font-size: .1rem;

}

.percentBar {

  background-color: #5cebdf;
  width: 85%;
  border-radius: 33rem;
  padding: .2rem;
}
.percentBar.gl {
  /* background: linear-gradient( 90deg, #2961c4 50%, 60deg, #5cebdf 0%); */
  width: 75%;
}

.percentBar.acc {
  width: 81%;
}

.percentBar.mm {
  width: 69%;
}
.bulksPriceCont {
  width: 100%;
  background-color: #ffffff;
  padding: 1.4rem;
}


.bulksPrc {
  width: 35%;
  display: flex;
}

.bulksPriceCont table {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.bulksPriceCont tbody {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.bulksPriceCont th,
.bulksPriceCont tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between; 
text-align: left;
  gap: 1.2rem;
}

/* .bulksPriceCont td {
  border: 1px solid red;
} */


/* Startimes Conts decoration block */

.startimePrCont {
  width: 65%;
  background-color: #ffffff;
  padding: 0;
}

.staPriceCont {
  width: 100%;
  padding: 2.4rem;
}

.staPriceCont table {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.staPriceCont tbody {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.staPriceCont tr,
.staPriceCont thead { 
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr ;
  /* display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: space-between; */
  
}

/* third Row */

.thirdRow {
  display: flex;
  gap: 2.4rem;
}

.dstvCard {
  width: 50%;
  background-color: #fff;
  padding: 2.4rem;
}

.dstvCard thead,
.dstvCard tbody tr {
  display: grid;
  grid-template-columns: 1fr 1.6fr 1fr 1fr;
  text-align: left;
  grid-gap: 1.4rem;
}

.dstvCard tbody {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 1.4rem;
}

.GotvCard table {
  width: 100%;
}

/* DATA PRICING DECORATION BLOCKS */
.mtnDataPriceCont, .gloDataPriceCont, .airtelDataPriceCont, .etisalatDataPriceCont{
  width: 65%;
}

.mtnComponentC ,
.gloComponentC ,
.airtelComponentC ,
.mobileComponentC {
  display: flex;
  gap: 3.4rem;

}

.dataPricingTable {
  background-color: #fff;
  width: 100%;
}


.dataPricingTable tbody {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.dataPricingTable thead,
.dataPricingTable tbody tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: .8rem;
  text-align: left;
}

/* Airtime Price Decoration Block */

.AirtimePriceCard {
  max-width: 31.5%;
  background-color: #fff;
}
/* Report a Problems Decoration Block */
.sectionReportProblems { 
  background-color: #fff;
  min-height: 100vh;
}

.RpBody {
  gap: 2.4rem;
  padding: 4rem 9.6rem;
}


.rptProblem {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.4rem;
  padding-bottom: 1.2rem;
  font-size: 1.6rem;
  font-family: serif;
}

option {
  padding: 3.4rem;
}

.RpIllustration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.4rem;
  padding: 1.2rem .1rem;
}

.RpImg {
  max-width: 70%;
  /* margin: 0 auto; */
}

.RpImg img {
  width: 100%;
}


.RpLinkto {
  font-size: 1.5rem;
}

.RpLinkto h4 {
  margin-bottom: 1.2rem;
}

.RpLinkto .golf {
  row-gap: 1.2rem;
}
.Rpgride {
  column-gap: 2.4rem;
  row-gap: 3.4rem;
}
/* _____________ */
.RpForm form {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  font-size: 1.5rem;
  padding: 4.6rem;
  border: 1px solid #eee;
  border-radius: .4rem;
  box-shadow: 5px 16px 20px -11px rgb(153 153 153 / 53%);
}

.RpForm form  input, .RpForm form  select {
  padding:1.3rem 1.2rem;
  border: 1px solid #ddd;
  border-radius: .4rem;
  
}

.RpForm form  textarea {
  padding:.8rem 1.8rem;
  border: 1px solid #ddd;
  border-radius: .3rem;
}

.RpForm form label {
  margin-top: 1.8rem;
}

.RpForm form  input[type="submit"] {
  max-width: 23rem;
  background-color: #2961c4;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1.2rem;
}

.placehold {
  color: #ddd;
  background-color: red;
}


.feedbackCont {
  padding: 4.8rem;
  background-color: #fff;
}

.feedbackCont form {
  width: 60%;
  margin: 0 auto;


}