.sectionBusiness {
  font-size: 1.5rem;
}

.businessPagaContainer {
  display: grid;
  grid-template-columns: 1.7fr 8.3fr;
  background-color: #fff;
}
.bizNav {
  width: 23rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  padding: 1.4rem 2.4rem;

  /* padding: 4.5rem 2rem; */
  position: fixed;
}
.bizContent {
  background-color: #fafaff;
}

.asideheader {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-align: center;
}

.sideNavItemBiz:link,
.sideNavItemBiz:visited {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 2.2rem;
}
.bizLogo img {
  width: 60%;
  margin-bottom: 2.4rem;
}

.bizBtn {
  display: block;
  padding: 1.2rem 2.4rem;
  background-color: #00acee;
  color: #fff;
  border-radius: 0.8rem;
  text-align: center;
}

.bizAsideLink {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 4rem 0;
}

.bizAsideButtom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.bizAsideButtom .sideNavItemBiz:link,
.bizAsideButtom .sideNavItemBiz:visited {
  padding: 0.8rem;
}

.businessPagaContainer Link {
  color: #ddd;
}

.bizAsideButtom h6 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #666;
}

.bizHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 2.4rem;
  border-bottom: 1px solid #eee;
}

.headerBiz {
  gap: 1.2rem;
}
.headerBiz span {
  font-size: 3.4rem;
  font-weight: 300;
}

.bizHeadItems {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-right: 2.4rem;
  list-style: none;
}

.bizSearchCont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4rem;
  padding: 1.4rem 2.4rem;
}

.bizSearchInp {
  width: 54%;
  display: flex;
  align-items: center;
  border-radius: 22rem;
  background-color: #ddd;
  padding: 0.1rem 1.5rem;
}

.bizSearch {
  width: 40rem;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
input[type="search"] {
  padding: 0.4rem 1.5rem;
  border: none;
  background-color: transparent;
}

.bizSearch h5 {
  font-size: 1.6rem;
}
.bizNote {
  display: inline-block;
  background-color: #cce9cc;
  color: #016700;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 0.6rem 1.4rem;
}
.sideNavItemBiz:link,
.sideNavItemBiz:visited {
  color: #999;
}

.sideNavItemBiz.active:link,
.sideNavItemBiz.active:visited {
  background-color: transparent;
  color: #2f63b2;
  border-radius: 0.5rem;
  padding: 0.8rem 2.2rem;
}
/* ____________________________________
Biz Cards Dec Bloxk
_____________________________________ */
.bizCardSlider.golf {
  grid-gap: 2.3rem;
}

.bizCardSlider {
  padding: 3.4rem;
}

.bizCard {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  background-color: #fff;
  border-radius: 1rem;
  color: #666;
  padding: 2.4rem;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
}

.bizCardLogo img {
  width: 5.5rem;
}

.bizCardName {
  font-size: 2rem;
  font-weight: 600;
}

.bizCardbuttom {
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.2rem;
}

.bizCardbuttom span {
  font-size: 3.4rem;
  font-weight: 200;
  margin-bottom: 1.2rem;
}
.bizBtnSub {
  /* border: 1px solid #ddd; */
  background-color: #00acee;
  border-radius: 222rem;
  padding: 1.2rem 3rem;
}

/* transaction decoration block */

.sectionTransactionpage {
  font-size: 1.5rem;
}

/* Generating page decoration block */

.sectionGeneration {
  font-size: 1.5rem;
}
/* Pricing page decoration block */

.sectionPricingPage {
  font-size: 1.5rem;
}

/* Transaction Cont Decoration Block */

.transCont {
  gap: 4rem;
  padding: 3.4rem 4rem;
}
.transLink:link,
.transLink:visited {
  color: #7d7d80;
}

.transCardCont,
.transCardCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  border-radius: 0.8rem;
  border: 1px solid #e1e1e6;
  font-size: 1.8rem;
  font-weight: 500;
}

.transCardLogo {
  width: 15%;
}

.transCardLogo img {
  width: 100%;
}
