.profilePageContainer {
  display: grid;
  grid-template-columns: 1.7fr 8.3fr;
  background-color: #ffffff;
  font-size: 1.5rem;
  color: #333;
}
.asideProfile,
.prifleCont {
  min-height: 100vh;
}
.asideProfile {
  background-color: #fafaff;
}

.prifleCont {
  background-color: #ffffff;
}

.profileAsideCont {
  width: 17%;
  background-color: #fafaff;
  padding: 4.4rem 1.2rem 1.2rem 1.2rem;
  position: fixed;
}

.profileSliderPage {
  padding: 2.4rem 4.4rem 1.2rem 2.8rem;
}

.profileSideTop {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 3.4rem;
}

.profileAsidePrimary ul,
.profileCompLink ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.profileLinks:link,
.profileLinks:visited {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.8rem 2.2rem;
}

.profileAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.accountImg {
  width: 58%;
  overflow: hidden;
  background-color: rgba(0, 0, 255, 0.404);
  border-radius: 100%;
  border-radius: 10px solid #000;
  padding: 0;
}

.accountImg img {
  width: 100%;
  transform: scale(1.1);
}
.profileCompLink {
  margin-top: 3.4rem;
}
.profileCompLink p {
  margin-top: 3.4rem;
  margin-bottom: 1.4rem;
}

.active:link,
.active:visited {
  background-color: #c1d0e8;
  color: #fff;
  border-radius: 0.5rem;
}

.profileNav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  gap: 1.2rem;
}
#profileNav {
  background-color: transparent;
}

.prRighNav {
  gap: 2.4rem;
}

.profileInfo:link,
.profileInfo:visited {
  gap: 1.2rem;
  color: #666;
}
.dpIconImg {
  max-width: 3.4rem;
  max-height: 3.4rem;
  border-radius: 100%;
  overflow: hidden;
}

.dpIconImg img {
  width: 100%;
}

.profileBalance {
  padding: 3.4rem 1.2rem;
}
.profileBlist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid #ddd;
}

.profileHead {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-left: 1px solid #ddd;
  padding-left: 3.4rem;
}

.profileHead h3 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 3.4rem;
  font-weight: 300;
}

.profileHead p {
  color: #b3b3b3;
}

.profileContent {
  display: flex;
}
.profileSocialMedia {
  padding: 0rem 3.4rem;
  width: 50%;
  background-image: url("../profile/picturep/world.png");
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}

.profileSocialMedia h2 {
  color: #5982c1;
  font-weight: 400;
}
.profileBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  /* background-color: yellowgreen; */
}

.profileBanner img {
  width: 90%;
  border-radius: 1.2rem;
}

.iconsMediaCont {
  position: relative;
  display: flex;
  gap: 1.2rem;
}
.iconsMedia:link,
.iconsMedia:visited {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  font-size: 3.4rem;
  border-radius: 50%;
  color: #ffffff;
  background-color: yellowgreen;
}

.iconsMedia:nth-child(1) {
  background-color: #00acee;
  top: 2rem;
  left: 2rem;
}
.iconsMedia:nth-child(2) {
  background-color: #5982c1;
  top: 7rem;
  left: 11rem;
}
.iconsMedia:nth-child(3) {
  background-color: #82a1d1;
  top: 4rem;
  left: 23rem;
}
.iconsMedia:nth-child(4) {
  background-image: linear-gradient(to right bottom, #7a39aa, #d61437, #eac600);
  top: 14rem;
  left: 11rem;
}
.iconsMedia:nth-child(5) {
  background-color: #3de45c;
  top: 11rem;
  left: 27rem;
}

.iconsMedia:nth-child(6) {
  background-color: #2d9ed3;
  top: 2rem;
  left: 37rem;
}

.profileBottom {
  padding: 0 3.4rem;
}
.profileBottom hr {
  width: 45%;
  background-color: #ddd;
  border: none;
  height: 1px;
}
.pBtmCard figure {
  padding: 2.4rem;
}
.pBtmCard figure:nth-child(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
