.profilePageContainer {
  display: grid;
  grid-template-columns: 1.7fr 8.3fr;
  background-color: #ffffff;
  font-size: 1.5rem;
  color: #333;
}

.asideProfile,
.prifleCont {
  min-height: 100vh;
}

.asideProfile {
  background-color: #fafaff;
}

.prifleCont {
  background-color: #ffffff;
}

.profileAsideCont {
  width: 17%;
  background-color: #fafaff;
  padding: 4.4rem 1.2rem 1.2rem 1.2rem;
  position: fixed;
}

.profileSliderPage {
  padding: 2.4rem 4.4rem 1.2rem 2.8rem;
}

.profileSideTop {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 3.4rem;
}

.profileAsidePrimary ul,
.profileCompLink ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.profileLinks:link,
.profileLinks:visited {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.8rem 2.2rem;
}

.profileAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.accountImg {
  max-width: 11.9rem;
  max-height: 11.9rem;
  overflow: hidden;
  background-color: rgba(0, 0, 255, 0.404);
  border-radius: 100%;
  border-radius: 10px solid #000;
  padding: 0;
}

.accountImg img {
  width: 100%;
  transform: scale(1.1);
}
.profileCompLink {
  margin-top: 3.4rem;
}
.profileCompLink p {
  margin-top: 3.4rem;
  margin-bottom: 1.4rem;
}

.active:link,
.active:visited {
  background-color: #6990d6;
  color: #fff;
  border-radius: 0.5rem;
}

.profileNav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  gap: 1.2rem;
}
#profileNav {
  background-color: transparent;
}

.prRighNav {
  gap: 2.4rem;
}

.profileInfo:link,
.profileInfo:visited {
  gap: 1.2rem;
  color: #666;
}
.dpIconImg {
  max-width: 3.4rem;
  max-height: 3.4rem;
  border-radius: 100%;
  overflow: hidden;
}

.dpIconImg img {
  width: 100%;
}

.profileBalance {
  padding: 3.4rem 1.2rem;
}
.profileBlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  border-right: 1px solid #ddd;
}

.profileHead {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-left: 1px solid #ddd;
  padding-left: 3.4rem;
}

.profileHead h3 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 3.4rem;
  font-weight: 300;
}

.profileHead p {
  color: #b3b3b3;
}

.profileContent {
  display: flex;
}
.profileSocialMedia {
  padding: 0rem 3.4rem;
  width: 50%;
  background-image: url("../profile/picture/world.png");
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}

.profileSocialMedia h2 {
  color: #5982c1;
  font-weight: 400;
}
.profileBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  /* background-color: yellowgreen; */
}

.profileBanner img {
  width: 90%;
  border-radius: 1.2rem;
}

.iconsMediaCont {
  position: relative;
  display: flex;
  gap: 1.2rem;
}

.iconsMedia:link,
.iconsMedia:visited {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  font-size: 3.4rem;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s;
}

.iconsMedia:hover,
.iconsMedia:active {
  opacity: 0.7;
}

.iconsMedia:nth-child(1) {
  background-color: #00acee;
  top: 2rem;
  left: 2rem;
}

.iconsMedia:nth-child(2) {
  background-color: #5982c1;
  top: 7rem;
  left: 11rem;
}

.iconsMedia:nth-child(3) {
  background-color: #82a1d1;
  top: 4rem;
  left: 23rem;
}

.iconsMedia:nth-child(4) {
  background-image: linear-gradient(to right bottom, #7a39aa, #d61437, #eac600);
  top: 14rem;
  left: 11rem;
}

.iconsMedia:nth-child(5) {
  background-color: #3de45c;
  top: 11rem;
  left: 27rem;
}

.iconsMedia:nth-child(6) {
  background-color: #2d9ed3;
  top: 2rem;
  left: 37rem;
}

.profileBottom {
  padding: 0 3.4rem;
}

.profileBottom hr {
  width: 45%;
  background-color: #ddd;
  border: none;
  height: 1px;
}

.pBtmCard figure {
  padding: 2.4rem;
}

.pBtmCard figure:nth-child(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* Funding Payment methods  */
.paymentMethods {
  display: grid;
  grid-template-columns: 3fr 1.3fr;
  border: 1px solid #eee;
  border-radius: 1.2rem;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.paymentDisplay {
  padding: 4.4rem;
}

.methods:link,
.methods:visited {
  color: #999;
}

.iconMth {
  color: #ccc;
  transform: scale(1.5);
}

.paymentItems h6 {
  color: #4c3100;
  font-size: 1rem;
}

.paymentItems ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: flex-start;
  background-color: #fafaff;
  padding: 3.4rem;
  padding-right: 2rem; 
}

.paymentItems ul li {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.AirtimeEntCont {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.airtimePay {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.aPheading {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 1.2rem;
}

.aPCard div {
  padding: 1.2rem 2.4rem;
}

.aPCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  border: 1px solid #eee;
  background-color: #fffaf0;
}

.aPCard h4 {
  font-size: 1.4rem;
  color: #999;
}

.aPbottom {
  background-color: #ffffff;
  color: #999;
  font-size: 1.2rem;
  border-top: 1px solid #eee;
}

.aPBtn:link,
.aPBtn:visited {
  background-color: #ffc966;
  color: #666;
  padding: 0.8rem;
  border-radius: 0.6rem;
  text-align: center;
  font-weight: 700;
  transition: all .3s;
}

.aPBtn:hover,
.aPBtn:active{
  opacity: .8;
}
#aPAmount,
#apNetwork {
  width: 100%;
  background-color: #fafafa;
  color: #999;
  border: 1px solid #eee;
  padding: 1.2rem;
  margin-top: 1rem;
}

.apNetwork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1.4rem; */
}

.AirtimeEntCont .apNetwork {
  justify-content: flex-start;
  align-items: flex-start;
}

.apNetwork h4 {
  font-size: 3rem;
  font-weight: 200;
}

.bankTransfer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.bankTransfer .apNetwork {
  gap: 0;
}

#enBnk {
  display: flex;

  flex-direction: column;
  gap: 2.4rem;
}

#enBnk input,
#enBnk button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.8rem;
  border: none;
  font-weight: 100;
  overflow: hidden;
  padding: 1.2rem;
}

#enBnk input {
  background-color: #fafaff;
  border: 1px solid #bfd0ed;
}
#enBnk button {
  background-color: #2961c4;
  color: #fff;
  transition: all .3s;
}
#enBnk button:hover,
#enBnk button:active {
  background-color: #5481d0;
  color: #fff;
}
.AirtimeEntCont button {
  width: 100%;
  text-align: center;
  border: none;
  background-color: #2961c4;
  color: white;
  font-size: 1.5rem;
  padding: 1.2rem;
  transition: all .3s;
}

.AirtimeEntCont button:hover,
.AirtimeEntCont button:active {
  background-color: #5481d0;
}

.paymenttitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  margin-bottom: 1.4rem;
  color: #153162;
}
#debitCardform {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.5rem;
}

#debitCardform button,
#debitCardform input {
  width: 100%;
  padding: 1.5rem 1.2rem;
  border: 1px solid #eee;
}

#debitCardform input {
  background-color: #fafaff;
}

#debitCardform button {
  background-color: #2961c4;
  color: #fff;
  font-size: 1.6rem;
  transition: all .3s;
}
#debitCardform button:hover,
#debitCardform button:active {
  background-color: #5481d0;
}
#walletPay {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

#walletPay select,
#walletPay input {
  width: 100%;
  border: none;
  background-color: #fafaff;
  border: 1px solid #eee;
  padding: 1.2rem 2.4rem;
  font-size: 1.5rem;
  margin-top: 0.8rem;
}

#walletPay button {
  background-color: #2961c4;
  color: #fff;
  border-radius: 44rem;
  border: none;
  padding: 1.4rem 2.6rem;
  transition: all .3s;
}
#walletPay button:hover,
#walletPay button:active {
  background-color: #5481d0;
}
#dashGift {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

#dashGift input,
#dashGift button {
  padding: 1.4rem;
  border-radius: 44rem;
  
}

#dashGift input {
  background-color: #fafaff;
  border: 1px solid #eee;
  font-size: 1.9rem;
  font-weight: 200;
  color: #333;
  margin-bottom: 1.2rem;
}

#dashGift button {
  background-color: #2961c4;
  color: #fff;
  transition: all .3s;
  border: none;
}



/* Payment Methods Decoration blocks */

.hidenCont
{
  display: none;
}

/* Activity log decoration block */

div.activityLogCont thead,
div.activityLogCont tbody tr {
display: grid;
gap: 2.4rem;
grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr;
text-align: left; 
padding: .8rem .4rem;
font-size: 1.5rem;
}

div.activityLogCont tbody tr {
  font-size: 1.4rem;
}

/* Affilation Decoration Blocks */

.affiCont {
  display: flex; 
  flex-direction: column;
  gap: 4.6rem;
  padding: 3.4rem;
}

.affiTopCard {
  display: grid;
 grid-template-columns: 2.7fr 1.5fr;
 gap: 5.2rem;
  background-color: #fff;
  color: #666;
  margin: 0 auto;
  width: 90%;
  border-radius: 1.2rem;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 30%);
}

.affiTopDisc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.5;
  padding: 3.4rem; 
}

.affiTopDisc button {
  width: 40%;
  border: none;
  background-color: #2d9ed3;
  padding: .8rem 1.2rem;
  color: #fff;
  border-radius: .5rem;
}

.affiStepOne {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem  ;
  row-gap: 7.5rem;
  margin-top: 3.4rem;
  
}

.affiTopImg {
  /* position: relative; */
  padding: 3.4rem; 
}

.affiTopImg img {
  max-width: 23rem;
    border-radius: 1.2rem;
    /* transform: scale(1.3); */
    /* position: absolute;
    top: -28px;
    right: 34px; */
}

.stepDiscription {
  display: flex;
  flex-direction: column;
  gap: 1.2rem; 
}

.affiStepOne img {
  width: 50%;

}

.stepDiscription p {
  line-height: 1.5;
}


.affiStepOne figure {
  display: flex;
  justify-content: center;
  /* align-items: flex-end;
  text-align: center; */
}
