/* Header Decoration Blocks */
.header {
  /* opacity: 0.7; */
  box-shadow: 1px 3px 20px -4px rgb(0 0 0 / 30%);
}
.notificationBar {
  background-color: #f0efad;
  /* background-color: #f5cb8a; */
  padding: 1.2rem 1.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 200;
  font-family: serif;
}

.notifClose {
  transition: all 0.3s;
}

.notifClose:hover,
.notifClose:active {
  cursor: pointer;
  color: #fff;
}

.navBar {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 1.1rem 3.2rem;
}
/* .icon {
  font-size: 5rem;
} */
.navLogo {
  max-width: 10.5rem;
}

.navBarItems {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.navItem:link,
.navItem:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #666;
  transition: all .3s;
  padding: .8rem 1rem;
  border-radius: .4rem;
}
.navItem:hover,
.navItem:active { 
  background-color: #b3e6fa;
  color: #002230;
  
}

.navForm {
  display: inline-block;
  width: 50rem;
  /* border: 1px solid #2961c4; */
  border-radius: 50rem;
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 0.4rem 1.4rem 0.4rem 1.4rem;
  transition: all .3s;
}

.navForm:hover,
.navForm:active {
  box-shadow: 0px 0px 4px 1px rgb(179 230 250 / 99%);
}

input[name="search"] {
  width: 88.1%;
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #666;
  border: none;
  background-color: transparent;
}

button[type="navSearch"] {
  background-color: transparent;
  border: none;
  /* padding: 0.8rem; */
  cursor: pointer;
}

.navFigure {
  gap: 1.6rem;
}
.navBtn:link,
.navBtn:visited {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  padding: 0.8rem 1.9rem;
  /* background-color: #2961c4; */
  background-color: #2961c4;
  color: #fff;
  transition: all 0.3s;
}

.navBtn:first-child:link,
.navBtn:first-child:visited {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 2px #2961c4;
  /* color: #2961c4; */
  color: #2961c4;
}

#login:hover,
#login:active {
  color: #fff;
  opacity: 0.8;
  background-color: #2961c4;
}

#reg:hover,
#reg:active {
  color: #2961c4;
  /* opacity: 0.8; */
  background-color: transparent;
  box-shadow: inset 0rem 0rem 0rem 0.2rem #2961c4;
}

.homeScroll {
  background-color: #fff;
  padding: 1.2rem;
  font-size: 1.5rem;
  /* border-top: 1px solid #2961c4; */
  /* border-bottom: 1px solid #2961c4; */
}

.homeScroll ul {
  list-style-type: none;
  gap: 4rem;
  justify-content: center;
}

.homeScroll a:link,
.homeScroll a:visited {
  color: #666;
  text-decoration: none;
  transition: all .3s;
}
.homeScroll a:hover,
.homeScroll a:active {
box-shadow: inset 0 -2px 0 0 #666;
} 
.homeScroll .category:hover,
.homeScroll .category:active {
  box-shadow: none;
  color: #2961c4;
} 


.navFigure.flex .navLang {
  color: #2961c4;
  transition: all 0.3s;
}

.navLang:hover,
.navLang:active {
  transform: scale(1.13);
}
.category {
  color: #fff;
  gap: 0.5rem;
}
/* ----------------------------------
Hero Decoration Blocks
-------------------------------------- */
.heroBackground {
  /* background-color: #ebf2fc; */
  padding: 3.4rem 1.5rem;
}
.heroContainer.flex {
  gap: 1.2rem;
  justify-content: center;
}
.heroCard {
  width: 31.1%;
  grid-gap: 1.2rem;
}
.heroCard a {
  border-radius: 0.8rem;
  overflow: hidden;
  height: 98%;
  /* background-color: #2961c4; */
}
.heroCard img {
  width: 100%;
}

.heroSlide {
  width: 67.5%;
  position: relative;
}

.heroSlide img {
  width: 100%;
  border-radius: 1.2rem;
}

.heroSlide .arrow {
  width: 4rem;
  height: 4rem;
  border-radius: 555rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #2961c4;
  z-index: 9999;
  border: 1px solid #ddd;
  opacity: 0.9;
  transition: all .3s;
}

.arrow.forward {
  right: 1.5%;
}
.arrow.backword {
  left: 1.5%;
}

.heroSlide .arrow:hover,
.heroSlide .arrow:active {
  background-color: #ccc;
  color: #fff;

}
.dots {
  display: flex;
  gap: 1.4rem;
  position: absolute;
  bottom: 2%;
  right: 50%;
  transform: translateX(50%);
}
.dotsItems {
  width: 1rem;
  height: 1rem;
  border-radius: 222rem;
  border: 1px solid #fff;
  background-color: #fff;
  opacity: 0.8;
}

.heroFlyer {
  /* background-color: red; */
  width: 12.7%;
  border-radius: 1.2rem;
  overflow: hidden;
}

.heroFlyer img {
  width: 100%;
}

/* ----------------------------------
MainHeader Decoration Blocks
-------------------------------------- */
.mainHeadCont {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.mainHeadCont .heading--secondary {
  font-family: serif;
  font-size: 4rem;
}

.mainHeadCont .mainHeadDisc {
  font-size: 1.8rem;
}

.Section--mainHead {
  margin: 3.4rem;
}

/* ----------------------------------
Services We Provide Decoration Blocks
-------------------------------------- */

.ourServices {
  /* max-width: 80%; */
  margin: 0 auto;
  column-gap: 2.4rem;
  row-gap: 4.4rem;
  font-size: 1.5rem;
}

.OurServiceCard {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.OurServiceCard:hover,
.OurServiceCard:active {
  transform: translateY(-1.17rem);
}

.cardHeadingOS.flex {
  display: flex;
  justify-content: flex-start;
  gap: 1.2rem;
}

.imgOS {
  width: 30%;
  height: 12rem;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
}

.imgOS img {
  width: 100%;
  height: 69%;
  transition: all .5s;
}
.imgOS img:hover,
.imgOS img:active {
 transform: scale(1.2);
}

.imgOS span {
  font-size: 1.3rem;
}
/* ----------------------------------
Networks Components Decoration Blocks
-------------------------------------- */
.sectionNetworks {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
/* MTN MB CARDS */
.mtnComponent,
.NmobileComponent {
  display: flex;
  font-size: 1.5rem;
  /* background-color: #ebf2fca2; */
  border-radius: 1.2rem;
  overflow: hidden;
}

.periodA {
  text-align: left;
}
.imgComponent {
  width: 30%;
  background-image: linear-gradient(
      to right bottom,
      rgba(153, 148, 148, 0),
      rgba(235, 232, 230, 0)
    ),
    url("./component/images/dataimg/mtnBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.imgComponent img {
  display: none;
  width: 100%;
}

.btnExplore:link,
.btnExplore:visited {
  list-style-type: none;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.8rem 1.4rem;
  border-radius: 5rem;
  background-image: linear-gradient(to right bottom, #e86146, #f7c30b);
  /* background-color: #ffd43a; */
  position: absolute;
  right: 2.5rem;
  bottom: 1.3rem;
  transition: all .3s;
}


.btnExplore:hover,
.btnExplore:active {
  opacity: .7;
  background-image: linear-gradient(to right bottom, #00acee, #2961c4);

}


.cardComponent {
  max-width: 70%;
  /* padding-right: 1rem; */
  gap: 0.14rem;
}

.dataCard {
  background-color: #fff;
  padding: 1.5rem 0.5rem 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  /* border: 1px solid #eee; */
  /* border-radius: 0.8rem; */
  padding: 1.5rem 0rem 0.4rem 1.5rem;
}

.dataCard h3 {
  color: #333;
}
.cardDisc {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.cardDisc aside {
  gap: 0.8rem;
}

.dataPriceCont {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.dataPrice {
  font-size: 2.4rem;
  font-weight: 200;
}
.dataCardSubscribe:link,
.dataCardSubscribe:visited {
  color: #2961c4;
  background-color: #fafaff;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 1.2rem;
  text-align: center;
  padding: 0.3rem 1rem;
  transition: all .3s;
}

.dataCardSubscribe:hover,
.dataCardSubscribe:active{
  color: #fff;
  background-image: linear-gradient(to right bottom, #e86146, #f7c30b);;
}
.mbImg {
  width: 70%;
}

.mbImg img {
  width: 100%;
}
/* GLO MB CARDS */

.gloComponent {
  /* background-color: #f2f7fd; */
  flex-direction: column;
  border-radius: 1.2rem;
  overflow: hidden;
  font-size: 1.5rem;
}

.etiImgComponent {
  width: 30%;
  background-image: linear-gradient(to right bottom, #80c98077, #80b3a69f),
    url("./component/images/dataimg/glonig.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.etibtnExplore:link,
.etibtnExplore:visited {
  list-style-type: none;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.8rem 1.4rem;
  border-radius: 5rem;
  background-color: #1a765e;
  position: absolute;
  right: 2.5rem;
  bottom: 1.3rem;
}

.gloComponent h2 {
  display: flex;
  align-items: center; 
  background-color: #5cebdf;
  color: #1c4643;
  font-size: 2rem;
  padding: 1.5rem 3.4rem;
  width: 100%;
}

.gloComponent h3 {
  color: #122f2d;
}
.gloDataCards {
  padding: 2.4rem;
  gap: 2.8rem;
}

.gloComponent p {
  color: #122f2d;
}
.gloCardLink:link,
.gloCardLink:visited {
  color: inherit;
  transition: all 0.3s;
}
.gloCardLink:hover,
.gloCardLink:active {
  /* transform: translateY(-1.17rem); */
  transform: scale(1.05);
}

.mediumCardGlo {
  max-width: 18rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  /* border: 1px solid #eee; */
  border-radius: 0.5rem;
  padding: 0.8rem;
  box-shadow: 0.3rem 0.3rem 1rem 0rem rgb(0 0 0 / 25%);
}

.gloCardImg {
  width: 50%;
}

.gloCardImg img {
  width: 100%;
}

.gloCardTag {
  width: 100%;
}

.gloCardTag span {
  width: 50%;
  background-color: #2e7670;
  color: #fff;

  padding: 0.3rem 2rem;
}
.gloCardTag span:last-child {
  background-color: #aef5ef;
  color: #000;
}

/* 9Mobile decoration */

.naijMobile h3 {
  color: inherit;
}

.mbImg.naijMobileImg img {
  border-radius: 1.2rem;
}
.naijMobileFigure {
  gap: 0.8rem;
}

.naijMobileFigure .dataCardSubscribe:link,
.naijMobileFigure .dataCardSubscribe:visited {
  /* background-image: linear-gradient(to right bottom, #ffea9d, #67a494); */
  background-color: #fafaff;
  color: #2961c4;
  transition: all .3s;
}

.naijMobileFigure .dataCardSubscribe:hover,
.naijMobileFigure .dataCardSubscribe:active {
  color: #fff;
  background-image: linear-gradient(to right bottom, #1a765e, #9acd32);

}

/* Airtel Data plans */
.airtelContainer {
  flex-direction: column;
  border-radius: 1.2rem;
  overflow: hidden;
}

.acMediumCard.flex {
  width: 18rem;
  padding: 0.8rem;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.5rem;
  /* border: 1px solid #eee; */
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.255);
  transition: all 0.3s;
}

.acMediumCard.flex:hover,
.acMediumCard.flex:active {
  transform: translateY(-1.17rem);
}

.acMediumCard h3 {
  color: #47080a;
}
.acImage {
  width: 100%;
  background-color: #f7a3a7;
}
.acImage img {
  width: 100%;
}
.acBtn:link,
.acBtn:visited {
  width: 100%;
  background-color: #f9babd;
  color: #2f0507;
  padding: 0.8rem 1.5rem;
  text-align: center;
  transition: all 0.3s;
}

.acBtn:hover,
.acBtn:active {
  background-color: #f68d91;
  color: #fff;
}
.airtelContainer h2 {
  width: 100%;
  /* text-align: center; */
  padding: 1.8rem 3.4rem;
  /* background-color: palegoldenrod; */
  background-color: #fbd1d3;
  color: #47080a;
  font-size: 2rem;
}

.airtelCards {
  width: 100%;
  gap: 3.4rem;
  font-size: 1.5rem;
  padding: 3.5rem;
}

/*  AIRTIME PRICING */

.airTimeComp {
  display: flex;
  gap: 3.4rem;
}
.ctaAirtime {
  flex-direction: column;
  gap: 2.4rem;
  background-color: #eaeff7;
  font-size: 1.5rem;
  width: 50%;
  border-radius: 1.2rem;
  padding: 1.8rem;
}

.ctaAirtime h2 {
  font-size: 3.4rem;
}

.ctaAirtime a:link,
.ctaAirtime a:visited {
  list-style-type: none;
  background-color: #555b70;
  padding: 0.8rem 3.2rem;
  border-radius: 5rem;
  color: #eaeff7;
}

.cardsAirtime {
  width: 50%;
  gap: 2.4rem;
}

.cardsAirtime h3 {
  font-size: 2.8rem;
  font-weight: 200;
}

.cardsAirtime p {
  font-size: 2rem;
}

.airtimeCard {
  border-radius: 0.5rem;
  /* border: 1px solid #eee; */
  padding: 1.2rem;
}

.mtnairtime {
  background-color: #fff2c4;
  color: #665517;
}
.gloairtime {
  background-color: #cce9cc;
  color: #003b00;
}
.airairtime {
  background-color: #fbd1d3;
  color: #47080a;
}
.etiairtime {
  background-color: #b3d1c9;
}

.dikko {
  background-color: #4d9582;
}

/* ----------------------------------
 TV Networks Decoration Blocks
-------------------------------------- */
.tvCableSubContainer {
  gap: 2.4rem;
}

.tvCardCont {
  /* background-color: green; */
  font-size: 1.5rem;
  color: #fff;
  width: 23rem;
  height: 38rem;
  position: relative;
}

.theTvCard {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
  /* background-color: palevioletred; */
}

.theTvCard:hover,
.theTvCard:active {
  transform: rotateY(180deg);
}

.tvCardFront,
.tvCardRear {
  position: absolute;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  width: 100%;
  padding: 1em;
  height: 100%;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
}

.tvCardFront {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #fff;
  color: #666;
}

.tvCardRear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  /* background-color: #f89c4d; */
  background-image: linear-gradient(to right bottom, #b3dfb3, #67a494);
  transform: rotateY(180deg);
}

.tvcImg {
  display: flex;
  width: 100%;
  justify-content: center;
}

.tvcImg img {
  width: 50%;
  border-radius: 50rem;
}

.tvStation {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 0;
  color: #666;
}

.tvCardDisc {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
}

.tvCardLogo {
  max-width: 9rem;
  max-height: 9rem;
  border-radius: 100%;
  border: 1px solid #ddd;
  overflow: hidden;
  padding: 0.5rem;
}
.tvCardLogo img {
  width: 100%;
}
.tvCardBtnCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tvCardBtn:link,
.tvCardBtn:visited {
  background-color: #fff;
  color: #333;
  padding: 1.3rem 2.4rem;
  border-radius: 5rem;
  text-align: center;
  transition: all .3s;
}

.tvCardBtn:hover,
.tvCardBtn:active {
  color: #fff;
  background-image: linear-gradient(to right bottom, #00abeeb6, #2961c4);

}


.tvcBottom {
  margin-top: 2.5rem;
  gap: 1.8rem;
}
.tVdaily,
.tVweekly,
.tVmonthly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tvCardIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  border-radius: 50%;
  /* padding: 1.2rem; */
  width: 5rem;
  height: 5rem;
}

.tvCardIcon.d {
  background-image: linear-gradient(to right bottom, #f0494f, #1a765e);
}
.tvCardIcon.w {
  background-image: linear-gradient(to right bottom, #e86146, #f7c30b);
}
.tvCardIcon.m {
  background-image: linear-gradient(to right bottom, #f7c30b, #67a494);
}
.tvSubPrice {
  margin-top: 1.6rem;
}

.tvRearPrice {
  font-size: 3.4rem;
  font-weight: 100;
}

/* ----------------------------------
Section Info Decoration Blocks
-------------------------------------- */

.infoContainer {
  display: flex;
  align-items: flex-start;
  border: 1px solid #eee;
  padding: 2.4rem 3.8rem;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
}

.infoDiscription {
  width: 60%;
  padding: 0 1.8rem;
  flex-direction: column;
  gap: 2rem;
}

.infoIllustration {
  width: 33%;
  position: relative;
}

.infoHeading {
  font-size: 4.5rem;
  width: 100%;
  color: #333;
}
.infoHeading span {
  color: #1d4489;
  opacity: 1;
}

.infoContent {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}
.noneTransaction,
.regTransaction {
  width: 100%;
  gap: 2.8rem;
}

.infoRegIcon,
.infoNoneIcon {
  border-radius: 5rem;
  padding: 1.5rem;
  color: #fff;
}

.infoRegIcon {
  background-color: #1d4489;
  opacity: .7;
}

.infoNoneIcon {
  background-color: #53d4c9;
}
.noneTransaction h4,
.regTransaction h4 {
  width: 100%;
  color: #1d4489; 
  font-size: 2.8rem;
}

.noneTransaction h4 {
  color: #53d4c9;
}
.noneTransaction p,
.regTransaction p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.theInfo {
  flex-direction: column;
  gap: 1rem;
}
/*  Creacting INfo Cycle */
.infoCycle {
  display: flex;
  width: 100%;
  border-radius: 222rem;
  overflow: hidden;
  transition: all 0.8s;
}

.infoCycle:hover,
.infoCycle:active {
  transform: rotate(-180deg);
}

.infoCycleLeft,
.infoCycleRight {
  width: 50%;
  padding-bottom: 95%;
}
.infoCycleLeft {
  background-color: #fff;
}

.infoCycleRight {
  background-color: #5cebdf;

  border-radius: 2rem;
}

.infoImage {
  overflow: hidden;
  border-radius: 50%;
  width: 85%;
  height: 85%;
  border: 2.5rem solid #4abcb2;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.infoImage img {
  width: 100%;
  opacity: 1;
}
/* 
.infoImage::after {
  content: "";
  padding: 0rem;
  border-style: solid;
  border-width: 2rem;
  border-color: transparent red transparent transparent;
  position: absolute;
  top: 140px;
  left: 53px;
} */
/* ----------------------------------
Feature Section Decoration Blocks
-------------------------------------- */
.featureDiscription {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 3.2rem;
}
.featureContainer {
  display: flex;
  justify-content: space-around;
  padding: 3.4rem;
}
.featureHeading {
  font-size: 3.5rem;
}
.featureDiscription p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  color: #666;
}

.featureDiscription .featureBtn {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 50rem;
  padding: 1.6rem 2.4rem;
  width: 45%;
  transition: all .3s;
}
.featureDiscription .featureBtn:hover,
.featureDiscription .featureBtn:active {
  opacity: .6;
}
.featureDiscription h4 a:link,
.featureDiscription h4 a:visited {
  font-size: 1.6rem;
}

/* ----------------------------------
 FOOTER Decoration Blocks
-------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  /* background-color: #1c1d1f; */
  background-color: #12334c;
  opacity: 0.9;
  color: #fff;
  padding: 3.4rem;
}

.footerStart {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.headingFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingFooter h2 {
  font-size: 4.5rem;
  text-transform: uppercase;
}

button[type="lang"] {
  background-color: transparent;
  border: 1px solid #fff;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0.2rem 3rem 0.2rem 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .5s;
}

button[type="lang"]:hover,
button[type="lang"]:active {
  background-color: #fff;
  color: #29475e;
} 
.footerItems {
  display: flex;
  gap: 4.2rem;
}
.footerItems ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style-type: none;
  font-size: 1.6rem;
}

.footerItems a:link,
.footerItems a:visited {
  color: #fff;
  transition: all 0.3s;
}

.footerItems a:hover,
.footerItems a:active {
  box-shadow: inset 0 -2px 0 0 #FFF;
} 

.footerMiddle {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: space-between;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 1rem 0rem;
}

.subscribe {
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 1;
}

form[name="footerForm"] {
  border: 0.5px solid #d8e5f8;
}

input[type="footerInput"] {
  background-color: #d8e5f8;
  color: #333;
  font-size: 1.6rem;
  padding: 0.8rem;
  border: none;
}

button[type="footerSubmit"] {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 0.8rem;
  cursor: pointer;
  height: 100%;
}

button[type="footerSubmit"]:hover,
button[type="footerSubmit"]:active {
  opacity: .6;
}

.footerMediaIcons {
  gap: 2.4rem;
}

.footerMediaIcons Link:link,
.footerMediaIcons Link:visited {
  transition: all 0.3s;
}

.footerMediaIcons a:hover,
.footerMediaIcons a:active {
  transform: scale(1.2);
}

.footerMediaIcons.flex a:link,
.footerMediaIcons.flex a:visited {
  color: #3e71ca;
  transition: all .3s;
}
footer .footerMediaIcons.flex a:link,
footer .footerMediaIcons.flex a:visited {
  color: #fff;
}
.copyRight {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.copyright {
  font-size: 1.5rem;
}

ul.listEnd {
  display: flex;
  gap: 4rem;
  font-size: 1.6rem;
  font-weight: 300;
  list-style: none;
}

.listEnd a:link,
.listEnd a:visited {
  text-decoration: none;
  border-left: 2px solid #fff;
  padding-left: 1rem;
  color: inherit;
  transition: all .3s;
}

.listEnd a:hover,
.listEnd a:active  {
  color: rgb(255, 196, 0);
}