/* Header Decoration Blocks */

.notificationBar {
  /* background-color: #f0efad; */
  background-color: #f5cb8a;
  padding: 1.2rem 1.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 200;
  font-family: serif;
}

.notifClose {
  transition: all 0.3s;
}

.notifClose:hover,
.notifClose:active {
  cursor: pointer;
  color: #fff;
}

.navBar {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 1.1rem 3.2rem;
}
/* .icon {
  font-size: 5rem;
} */
.navLogo {
  max-width: 10.5rem;
}

.navBarItems {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.navItem:link,
.navItem:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

.navForm {
  display: inline-block;
  width: 50rem;
  border: 1px solid #999;
  border-radius: 50rem;
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 0.4rem 1.4rem 0.4rem 1.4rem;
}

input[name="search"] {
  width: 88.1%;
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #666;
  border: none;
  background-color: transparent;
}

button[type="navSearch"] {
  background-color: transparent;
  border: none;
  /* padding: 0.8rem; */
  cursor: pointer;
}

.navFigure {
  gap: 1.6rem;
}
.navBtn:link,
.navBtn:visited {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  padding: 0.8rem 1.9rem;
  /* background-color: #2f63b2; */
  background-color: #555b70;
  color: #fff;
  transition: all 0.3s;
}

.navBtn:first-child:link,
.navBtn:first-child:visited {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 2px #555b70;
  /* color: #2f63b2; */
  color: #555b70;
}

#login:hover,
#login:active {
  color: #fff;
  opacity: 0.8;
  /* background-color: #2f63b2; */
  background-color: #555b70;
}

#reg:hover,
#reg:active {
  color: #555b70;
  /* opacity: 0.8; */
  background-color: transparent;
  box-shadow: inset 0rem 0rem 0rem 0.2rem #555b70;
}

.homeScroll {
  background-color: #555b70;
  padding: 1.2rem;
  font-size: 1.5rem;
}

.homeScroll ul {
  list-style-type: none;
  gap: 4rem;
  justify-content: center;
}

.homeScroll a:link,
.homeScroll a:visited {
  color: #fff;
  text-decoration: none;
}

.navFigure.flex .navLang {
  color: #555b70;
  transition: all 0.3s;
}

.navLang:hover,
.navLang:active {
  transform: scale(1.13);
}
.category {
  color: #fff;
  gap: 0.5rem;
}
/* ----------------------------------
Hero Decoration Blocks
-------------------------------------- */
.heroBackground {
  /* background-color: #ebf2fc; */
  padding: 3.4rem 1.5rem;
}
.heroContainer.flex {
  gap: 1.2rem;
  justify-content: center;
}
.heroCard {
  width: 31.1%;
  grid-gap: 1.2rem;
}
.heroCard a {
  border-radius: 0.8rem;
  overflow: hidden;
  height: 98%;
  /* background-color: #2f63b2; */
}
.heroCard img {
  width: 100%;
}

.heroSlide {
  width: 67.5%;
}

.heroSlide img {
  width: 100%;
  border-radius: 1.2rem;
}

.heroFlyer {
  /* background-color: red; */
  width: 12.7%;
  border-radius: 1.2rem;
  overflow: hidden;
}

.heroFlyer img {
  width: 100%;
}

/* ----------------------------------
MainHeader Decoration Blocks
-------------------------------------- */
.mainHeadCont {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.mainHeadCont .heading--secondary {
  font-family: serif;
  font-size: 4rem;
}

.mainHeadCont .mainHeadDisc {
  font-size: 1.8rem;
}

.Section--mainHead {
  margin: 3.4rem;
}

/* ----------------------------------
Services We Provide Decoration Blocks
-------------------------------------- */

.ourServices {
  /* max-width: 80%; */
  margin: 0 auto;
  column-gap: 2.4rem;
  row-gap: 4.4rem;
  font-size: 1.5rem;
}

.OurServiceCard {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.OurServiceCard:hover,
.OurServiceCard:active {
  transform: translateY(-1.17rem);
}

.cardHeadingOS.flex {
  display: flex;
  justify-content: flex-start;
  gap: 1.2rem;
}

.imgOS {
  width: 30%;
  height: 12rem;
  flex-direction: column;
  gap: 1.5rem;
}

.imgOS img {
  width: 100%;
  height: 69%;
}

.imgOS span {
  font-size: 1.3rem;
}
/* ----------------------------------
Networks Components Decoration Blocks
-------------------------------------- */
.sectionNetworks {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
/* MTN MB CARDS */
.mtnComponent,
.NmobileComponent {
  display: flex;
  font-size: 1.5rem;
  /* background-color: #ebf2fca2; */
  border-radius: 1.2rem;
  overflow: hidden;
}
.imgComponent {
  width: 30%;
  background-image: linear-gradient(
      to right bottom,
      rgba(153, 148, 148, 0),
      rgba(235, 232, 230, 0)
    ),
    url("./component/images/dataimg/mtnBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.imgComponent img {
  display: none;
  width: 100%;
}

.btnExplore:link,
.btnExplore:visited {
  list-style-type: none;
  font-size: 1.5rem;
  color: #999;
  padding: 0.8rem 1.4rem;
  border-radius: 5rem;
  background-color: #fff;
  position: absolute;
  right: 2.5rem;
  bottom: 4.3rem;
}

.cardComponent {
  max-width: 70%;
  /* padding-right: 1rem; */
  gap: 0.14rem;
}

.dataCard {
  background-color: #fff;
  padding: 1.5rem 0.5rem 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  /* border: 1px solid #eee; */
  /* border-radius: 0.8rem; */
  padding: 1.5rem 0rem 0.4rem 1.5rem;
}

.dataCard h3 {
  color: #333;
}
.cardDisc {
  flex-direction: column;
  gap: 0.4rem;
}
.cardDisc aside {
  gap: 0.8rem;
}

.dataCardSubscribe:link,
.dataCardSubscribe:visited {
  font-size: 1.3rem;
  font-weight: 600;
}

.mbImg {
  width: 70%;
}

.mbImg img {
  width: 100%;
}
/* GLO MB CARDS */

.gloComponent {
  /* background-color: #f2f7fd; */
  flex-direction: column;
  border-radius: 1.2rem;
  overflow: hidden;
  font-size: 1.5rem;
}

.gloComponent h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9eded8;
  color: #000;
  font-size: 1.8rem;
  padding: 1.5rem;
  width: 100%;
}

.gloDataCards {
  padding: 2.4rem;
  gap: 2.8rem;
}

.gloCardLink:link,
.gloCardLink:visited {
  color: inherit;
  transition: all 0.3s;
}
.gloCardLink:hover,
.gloCardLink:active {
  /* transform: translateY(-1.17rem); */
  transform: scale(1.05);
}

.mediumCardGlo {
  max-width: 18rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  /* border: 1px solid #eee; */
  border-radius: 0.5rem;
  padding: 0.8rem;
  box-shadow: 0.3rem 0.3rem 1rem 0rem rgb(0 0 0 / 25%);
}

.gloCardImg {
  width: 50%;
}

.gloCardImg img {
  width: 100%;
}

.gloCardTag {
  width: 100%;
}

.gloCardTag span {
  width: 50%;
  background-color: #151b35;
  color: #fff;

  padding: 0.3rem 2rem;
}
.gloCardTag span:last-child {
  background-color: #36bbb1;
}

/* 9Mobile decoration */

.naijMobile h3 {
  color: inherit;
}

.mbImg.naijMobileImg img {
  border-radius: 1.2rem;
}
.naijMobileFigure {
  gap: 0.8rem;
}
/* Airtel Data plans */
.airtelContainer {
  flex-direction: column;
  border-radius: 1.2rem;
  overflow: hidden;
}

.acMediumCard.flex {
  width: 18rem;
  padding: 0.8rem;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.5rem;
  /* border: 1px solid #eee; */
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.255);
  transition: all 0.3s;
}

.acMediumCard.flex:hover,
.acMediumCard.flex:active {
  transform: translateY(-1.17rem);
}
.acImage {
  width: 100%;
}
.acImage img {
  width: 100%;
}
.acBtn:link,
.acBtn:visited {
  width: 100%;
  background-color: #dfe5e8;
  color: #000;
  padding: 0.8rem 1.5rem;
  text-align: center;
}
.airtelContainer h2 {
  width: 100%;
  text-align: center;
  padding: 1.8rem;
  background-color: palegoldenrod;
}

.airtelCards {
  width: 100%;
  gap: 3.4rem;
  font-size: 1.5rem;
  padding: 3.5rem;
}

/*  AIRTIME PRICING */

.airTimeComp {
  display: flex;
  gap: 3.4rem;
}
.ctaAirtime {
  flex-direction: column;
  gap: 2.4rem;
  background-color: #eaeff7;
  font-size: 1.5rem;
  width: 50%;
  border-radius: 1.2rem;
  padding: 1.8rem;
}

.ctaAirtime h2 {
  font-size: 3.4rem;
}

.ctaAirtime a:link,
.ctaAirtime a:visited {
  list-style-type: none;
  background-color: #555b70;
  padding: 0.8rem 3.2rem;
  border-radius: 5rem;
  color: #eaeff7;
}

.cardsAirtime {
  width: 50%;
  gap: 2.4rem;
}

.cardsAirtime h3 {
  font-size: 3rem;
}

.cardsAirtime p {
  font-size: 4rem;
}

.airtimeCard {
  border-radius: 1.2rem;
  border: 1px solid #eee;
  padding: 1.2rem;
}

/* ----------------------------------
 TV Networks Decoration Blocks
-------------------------------------- */
.tvCableSubContainer {
  gap: 2.4rem;
}

.tvCardCont {
  /* background-color: green; */
  font-size: 1.5rem;
  color: #fff;
  width: 23rem;
  height: 38rem;
  position: relative;
}

.theTvCard {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
  /* background-color: palevioletred; */
}

.theTvCard:hover,
.theTvCard:active {
  transform: rotateY(180deg);
}

.tvCardFront,
.tvCardRear {
  position: absolute;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  width: 100%;
  padding: 1em;
  height: 100%;
  border-radius: 1.2rem;
}

.tvCardFront {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #12334c;
}

.tvCardRear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  /* background-color: #f89c4d; */
  background-image: linear-gradient(
    to right bottom,
    rgb(78, 235, 196),
    rgb(29, 139, 7)
  );
  transform: rotateY(180deg);
}

.tvcImg {
  display: flex;
  width: 100%;
  justify-content: center;
}

.tvcImg img {
  width: 50%;
  border-radius: 50rem;
}

.tvStation {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 0;
  color: #fff;
}

.tvCardDisc {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
}
.tvCardBtnCont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tvCardBtn:link,
.tvCardBtn:visited {
  background-color: #fff;
  color: #333;
  padding: 1.3rem 2.4rem;
  border-radius: 5rem;
  text-align: center;
}

.tvcBottom {
  margin-top: 2.5rem;
  gap: 1.8rem;
}
.tVdaily,
.tVweekly,
.tVmonthly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tvCardIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  /* padding: 1.2rem; */
  width: 4rem;
  height: 4rem;
}

.tvSubPrice {
  margin-top: 1.6rem;
}

.tvRearPrice {
  font-size: 3.4rem;
}

/* ----------------------------------
Section Info Decoration Blocks
-------------------------------------- */

.infoContainer {
  display: flex;
  align-items: flex-start;
  border: 1px solid #eee;
  padding: 2.4rem 3.8rem;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
}

.infoDiscription {
  width: 60%;
  padding: 0 1.8rem;
  flex-direction: column;
  gap: 2rem;
}

.infoIllustration {
  width: 33%;
  position: relative;
}

.infoHeading {
  font-size: 4.5rem;
  width: 100%;
}
.infoHeading span {
  color: #f89c4d;
  opacity: 1;
}

.infoContent {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}
.noneTransaction,
.regTransaction {
  width: 100%;
  gap: 2.8rem;
}

.infoRegIcon,
.infoNoneIcon {
  border-radius: 5rem;
  padding: 1.5rem;
  color: #fff;
}

.infoRegIcon {
  background-color: #555b70;
}

.infoNoneIcon {
  background-color: #f89c4d;
}
.noneTransaction h4,
.regTransaction h4 {
  width: 100%;
  color: #555b70;
  opacity: 1;
  font-size: 2.8rem;
}

.noneTransaction h4 {
  color: #f89c4d;
}
.noneTransaction p,
.regTransaction p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.theInfo {
  flex-direction: column;
  gap: 1rem;
}
/*  Creacting INfo Cycle */
.infoCycle {
  display: flex;
  width: 100%;
  border-radius: 222rem;
  overflow: hidden;
  transition: all 0.8s;
}

.infoCycle:hover,
.infoCycle:active {
  transform: rotate(-180deg);
}

.infoCycleLeft,
.infoCycleRight {
  width: 50%;
  padding-bottom: 95%;
}
.infoCycleLeft {
  background-color: #fff;
}

.infoCycleRight {
  background-color: #f89c4d;

  border-radius: 2rem;
}

.infoImage {
  overflow: hidden;
  border-radius: 50%;
  width: 85%;
  height: 85%;
  border: 2.5rem solid #555b70;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.infoImage img {
  width: 100%;
  opacity: 1;
}

.infoImage::after {
  content: "";
  padding: 0rem;
  border-style: solid;
  border-width: 2rem;
  border-color: transparent red transparent transparent;
  position: absolute;
  top: 140px;
  left: 53px;
}
/* ----------------------------------
Feature Section Decoration Blocks
-------------------------------------- */
.featureDiscription {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 3.2rem;
}
.featureContainer {
  display: flex;
  justify-content: space-around;
  padding: 3.4rem;
}
.featureHeading {
  font-size: 3.5rem;
}
.featureDiscription p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  color: #666;
}

.featureDiscription .featureBtn {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 50rem;
  padding: 1.6rem 2.4rem;
  width: 45%;
}

.featureDiscription h4 a:link,
.featureDiscription h4 a:visited {
  font-size: 1.6rem;
}

/* ----------------------------------
 FOOTER Decoration Blocks
-------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  /* background-color: #1c1d1f; */
  background-color: #12334c;
  opacity: 0.9;
  color: #fff;
  padding: 3.4rem;
}

.footerStart {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.headingFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingFooter h2 {
  font-size: 4.5rem;
  text-transform: uppercase;
}

button[type="lang"] {
  background-color: transparent;
  border: 1px solid #fff;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0.2rem 3rem 0.2rem 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.footerItems {
  display: flex;
  gap: 4.2rem;
}
.footerItems ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style-type: none;
  font-size: 1.6rem;
}

.footerItems a:link,
.footerItems a:visited {
  color: #fff;
  transition: all 0.3s;
}

.footerMiddle {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: space-between;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 1rem 0rem;
}

.subscribe {
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 1;
}

form[name="footerForm"] {
  border: 0.5px solid #d8e5f8;
}

input[type="footerInput"] {
  background-color: #d8e5f8;
  color: #333;
  font-size: 1.6rem;
  padding: 0.8rem;
  border: none;
}

button[type="footerSubmit"] {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 0.8rem;
  cursor: pointer;
  height: 100%;
}

.footerMediaIcons {
  gap: 2.4rem;
}

.footerMediaIcons a:link,
.footerMediaIcons a:visited {
  transition: all 0.3s;
}

.footerMediaIcons a:hover,
.footerMediaIcons a:active {
  transform: scale(1.2);
}

.footerMediaIcons.flex a:link,
.footerMediaIcons.flex a:visited {
  color: #fff;
}
.copyRight {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.copyright {
  font-size: 1.5rem;
}

ul.listEnd {
  display: flex;
  gap: 4rem;
  font-size: 1.6rem;
  font-weight: 300;
  list-style: none;
}

.listEnd a:link,
.listEnd a:visited {
  text-decoration: none;
  border-left: 2px solid #fff;
  padding-left: 1rem;
  color: inherit;
}
